*{
  all: unset;
  font-family: JetBrainsMono Nerd Font;
  margin: 0 ;
  padding: 0 ;
  color: #ECDFCC;
}
.bottom{
  font-size: 10px ;
  font-weight: bold; 
  background-color:#1c1c1c;
  margin:0;
  padding: 2px 20px;
  border:2px solid #aaaaaa;
}



.green{
  color: #00FF00 ;
}

.yellow{
  color: #FFFF00 
}

.orange{
  color: #FF7F00
}

.red{
  color: #FF0000 ;
}


.salatContainer{
  background-color:#1c1c1c ;
  padding: 10px ;
  border:solid 2px #aaaaaa
}
.salat{
  border-bottom:solid 1px #aaaaaa;
  padding:2px
}
.nextSalat{
  background-color: #555555;
  padding:2px;
  margin:2px 0px ;
  font-weight:bold;
}

.dayContainer{
  font-weight: bold ;
  background-color:#282828;
  border-bottom:solid 1px #aaaaaa
}


tooltip{
  background: black;
  font-size: 10px;
}


